$color-pink-1: #EDD0D5;
$color-pink-2: #E1CCD1;
$color-pink-3: #E1D5D7;

$color-gray-1: #A7A7A7;
$color-gray-2: #D4D3CF;

$color-purple-1: #7A7182;
$color-purple-2: #CBBFD3;
$color-purple-3:#F1E3FA;

// RESPONSIVE Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62em; //1000px / 16px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 

    @media only screen and (max-width:$bp-largest) {
        font-size: 50%; 
    }

    @media only screen and (max-width:$bp-small) {
        font-size: 37.5%;
    }
}

body{
    font-family: 'Righteous', cursive, sans-serif;
    font-weight: 400;
    line-height: 1.7;

    box-sizing: border-box;
}

.heading-primary {
    color: #601029;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main{
        display: block;
        font-size: 6.5rem;
        font-weight: 400;
        letter-spacing: 2rem;
        text-align: center;

        @media only screen and (max-width:$bp-small) {
            font-size: 4.5rem;
            letter-spacing: 1rem;

        }

    }

    &--sub{
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1rem;
        text-align: center;

        @media only screen and (max-width:$bp-small) {
            font-size: 1.5rem;
            letter-spacing: .5rem;
        }
    }
}