$color-pink-1: #EDD0D5;
$color-pink-2: #E1CCD1;
$color-pink-3: #E1D5D7;

$color-gray-1: #A7A7A7;
$color-gray-2: #D4D3CF;
$color-gray-3: #f9f7f6;

$color-purple-1: #7A7182;
$color-purple-2: #CBBFD3;
$color-purple-3:#F1E3FA;

$color-red-dark: #601029;

// RESPONSIVE Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62em; //1000px / 16px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 

    @media only screen and (max-width:$bp-largest) {
        font-size: 50%; 
    }

    @media only screen and (max-width:$bp-small) {
        font-size: 37.5%;
    }
}

body{
    font-family: 'Righteous', cursive, sans-serif;
    font-weight: 400;
    line-height: 1.7;

    box-sizing: border-box;
}

.container {
    max-width: 160rem;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .3s;
    position: relative;
    font-size: 2rem;

    border: none;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black, 0.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
        
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    }

    background-image: linear-gradient(to right bottom,rgba($color-pink-1, 1), rgba(plum, 1));
    color: $color-red-dark;
    &::after{
        background-color: $color-pink-1;
    }
}
