*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: 'Righteous', cursive, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.container {
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto; }

.header {
  height: 7rem;
  background-color: #EDD0D5;
  border-bottom: 1px solid var(--color-pink-2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100; }
  @media only screen and (max-width: 37.5em) {
    .header {
      justify-content: space-around; } }
  .header__logo-box {
    display: flex;
    align-items: center; }
  .header__logo-img {
    height: 3.25rem;
    margin-right: .5rem; }
  .header__logo-text {
    font-size: 2.5rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    color: white;
    transition: all .3s;
    box-shadow: 0.2rem 0.2rem 0.2rem #D4D3CF;
    border-radius: 80%; }
  .header__link:hover, .header__link:active {
    color: #A7A7A7;
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem #D4D3CF; }

#joinfree {
  color: #A7A7A7;
  font-size: 1.2em;
  box-shadow: 0.5rem 0.5rem 0.5rem #D4D3CF; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropbtn {
  border: none;
  background-color: #EDD0D5;
  font-size: inherit;
  font-family: inherit;
  color: #A7A7A7;
  box-shadow: 0.2rem 0.2rem 0.2rem #D4D3CF;
  border-radius: 80%; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99; }

.dropdown-content a {
  color: #A7A7A7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.photos {
  margin: 9rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .photos {
      margin: 9rem 1rem; } }

.photo {
  background-color: #f9f7f6;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: start;
  font-size: 1.5rem; }
  .photo__link {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
    .photo__link-img {
      width: 100%;
      object-fit: cover;
      border-radius: 5%; }
  .photo__author:link, .photo__author:visited {
    color: rgba(122, 113, 130, 0.6);
    transition: all .2s; }
  .photo__author:hover, .photo__author:active {
    color: #7A7182;
    transform: translateY(-2px); }
  .photo__caption {
    color: rgba(96, 16, 41, 0.7); }
  .photo__like, .photo__comments, .photo__delete {
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10%;
    color: white;
    transition: all .3s;
    cursor: pointer; }
    .photo__like-heart, .photo__comments-heart, .photo__delete-heart {
      transform: translateY(2px);
      margin-right: .5rem; }
  .photo__like:hover, .photo__comments:hover, .photo__delete:hover {
    transform: translateY(-2px); }
  .photo__like {
    background-color: rgba(237, 208, 213, 0.5); }
  .photo__like:hover {
    background-color: rgba(237, 208, 213, 0.8); }
  .photo__comments {
    background-color: rgba(203, 191, 211, 0.8); }
  .photo__comments:hover {
    background-color: #cbbfd3; }
  .photo__comments:link {
    text-decoration: none; }
  .photo__delete {
    background-color: rgba(96, 16, 41, 0.5); }
  .photo__delete:hover {
    background-color: rgba(96, 16, 41, 0.8); }

.jumbotron {
  width: 100vw;
  height: 73vh;
  background-image: linear-gradient(to right bottom, rgba(237, 208, 213, 0.6), rgba(237, 208, 213, 0.6)), url(../img/Jumbotron.jpeg);
  background-size: cover;
  margin-top: 7rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr); }
  .jumbotron__heading-box {
    grid-row: 2 / 3;
    justify-self: center; }

.heading-primary {
  color: #601029;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 6.5rem;
    font-weight: 400;
    letter-spacing: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4.5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .5rem; } }
