*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: 'Righteous', cursive, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.container {
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to right bottom, rgba(221, 160, 221, 0.5), rgba(151, 31, 124, 0.7));
  color: #601029; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    background-color: #EDD0D5; }

.margin__top {
  margin-top: 5rem; }

.header {
  height: 7rem;
  background-color: #EDD0D5;
  border-bottom: 1px solid var(--color-pink-2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100; }
  @media only screen and (max-width: 37.5em) {
    .header {
      justify-content: space-around; } }
  .header__logo-box {
    display: flex;
    align-items: center; }
  .header__logo-img {
    height: 3.25rem;
    margin-right: .5rem; }
  .header__logo-text {
    font-size: 2.5rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    color: white;
    transition: all .3s;
    box-shadow: 0.2rem 0.2rem 0.2rem #D4D3CF;
    border-radius: 80%; }
  .header__link:hover, .header__link:active {
    color: #A7A7A7;
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem #D4D3CF; }

#joinfree {
  color: #A7A7A7;
  font-size: 1.2em;
  box-shadow: 0.5rem 0.5rem 0.5rem #D4D3CF; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropbtn {
  border: none;
  background-color: #EDD0D5;
  font-size: inherit;
  font-family: inherit;
  color: #A7A7A7;
  box-shadow: 0.2rem 0.2rem 0.2rem #D4D3CF;
  border-radius: 80%; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99; }

.dropdown-content a {
  color: #A7A7A7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.photos {
  margin: 9rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .photos {
      margin: 9rem 1rem; } }

.photo {
  background-color: #f9f7f6;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: start;
  font-size: 1.5rem; }
  .photo__link {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
    .photo__link-img {
      width: 100%;
      object-fit: cover;
      border-radius: 5%; }
  .photo__author:link, .photo__author:visited {
    color: rgba(122, 113, 130, 0.6);
    transition: all .2s; }
  .photo__author:hover, .photo__author:active {
    color: #7A7182;
    transform: translateY(-2px); }
  .photo__caption {
    color: rgba(96, 16, 41, 0.7); }
  .photo__like, .photo__comments, .photo__delete {
    padding: .5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10%;
    color: white;
    transition: all .3s;
    cursor: pointer; }
    .photo__like-heart, .photo__comments-heart, .photo__delete-heart {
      transform: translateY(2px);
      margin-right: .5rem; }
  .photo__like:hover, .photo__comments:hover, .photo__delete:hover {
    transform: translateY(-2px); }
  .photo__like {
    background-color: rgba(237, 208, 213, 0.5); }
  .photo__like:hover {
    background-color: rgba(237, 208, 213, 0.8); }
  .photo__comments {
    background-color: rgba(203, 191, 211, 0.8); }
  .photo__comments:hover {
    background-color: #cbbfd3; }
  .photo__comments:link {
    text-decoration: none; }
  .photo__delete {
    background-color: rgba(96, 16, 41, 0.5); }
  .photo__delete:hover {
    background-color: rgba(96, 16, 41, 0.8); }

.jumbotron {
  width: 100vw;
  height: 73vh;
  background-image: linear-gradient(to right bottom, rgba(237, 208, 213, 0.6), rgba(237, 208, 213, 0.6)), url(../img/Jumbotron.jpeg);
  background-size: cover;
  margin-top: 7rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr); }
  .jumbotron__full-page {
    height: 100vh;
    background-image: linear-gradient(to bottom, #edd0d5, plum); }
  .jumbotron__heading-box {
    grid-row: 2 / 3;
    justify-self: center; }
  .jumbotron__first-row {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: flex-end;
    padding-top: 10rem; }

.heading-primary {
  color: #601029;
  backface-visibility: hidden;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 6.5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4.5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: .5rem; } }
  .heading-primary--third {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    letter-spacing: .5rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--third {
        font-size: 1rem;
        letter-spacing: .4rem; } }
  .heading-primary--link:link, .heading-primary--link:visited {
    color: #601029;
    letter-spacing: .35rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--link:link, .heading-primary--link:visited {
        font-size: 1rem;
        letter-spacing: .3rem; } }

.form {
  width: 100rem;
  padding: 6rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, transparent 50%), url(../img/form-bg.jpeg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin: 5rem auto 0 auto; }
  @media only screen and (max-width: 62em) {
    .form {
      width: 65vw;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 65%, transparent 65%), url(../img/form-bg.jpeg); } }
  @media only screen and (max-width: 37.5em) {
    .form {
      width: 85vw;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(../img/form-bg.jpeg); } }
  .form__simple {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    text-align: center; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 3px solid transparent;
    display: block;
    width: 40%;
    transition: all .5s; }
    .form__input-simple {
      width: 65%;
      margin-left: auto;
      margin-right: auto; }
    @media only screen and (max-width: 62em) {
      .form__input {
        width: 65%; } }
    @media only screen and (max-width: 37.5em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid plum; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    margin-left: 2rem;
    margin-top: .7rem;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
